<div class="content-container"> 
<div class="todo-update-container"> 
<h2>Update To Do</h2>

<form action="/todos/{{_id}}/update" method="post">
<label for="description">
Description:
</label><input type="text" id ="new-todo-description" name="description" value="{{description}}">
<label for="done">Is task done?</label>
 <div class="checkbox"> 
 <input type="checkbox" id="true" name="status" value="true">
  <label for="true">Yes</label>
    </div>

<input type="submit" value="Update">
</form>
</div>
</div>